numpy==1.26.4
scipy==1.11.4
pandas==1.4.3
networkx==2.8.4
matplotlib==3.5.2
scikit-learn==1.1.1
numba==0.59.1
openpyxl==3.0.10
tensorflow-cpu==2.15.0
scanpy==1.9.1
scikit-misc==0.1.4
seaborn==0.13.2
umap-learn==0.5.3
distinctipy==1.2.2
reportlab==4.1.0
opencv-python-headless==4.9.0.80