sphinx-substitution-extensions
sphinx-tabs
sphinx-toolbox
sphinxcontrib-jquery
sphinx-rtd-theme
numpy
scipy
pandas
networkx
matplotlib
scikit-learn
numba
openpyxl
tensorflow-cpu
scanpy
scikit-misc
seaborn
umap-learn
distinctipy
reportlab
opencv-python